<div class="row">
<h4><u>Search By Title</u></h2>
</div>
<div class="row">
<div class="col-md-6">
<form method="GET" action="/search/title">
  <div class="form-control">
    <label for="title">Search by Title</label>
    <input type="text" name="title" id="title">
    <button type="submit" class="btn btn-dark btn-sm">Search</button>
  </div>
</form>
</div>